.landing-page {
    height: 500px;
    background-color: rgb(255, 184, 102);
    padding: 50px;
}

h1 {
    font-weight: bolder;
}


.home-left {
    margin-top: 50px;
    margin-left: 50px;
}

.home-right {
    text-align: right;
}

#shopNowBtn {
    background-color: blueviolet;
    color: white;

}

/* button>.showNowBtn {
    color: red;
} */