img {
    margin-right: 10px;
}

nav {
    color: rgb(255, 136, 0);
    border: 1px solid rgb(255, 136, 0);
}

.nav-link {
    font-weight: bold;
}

.side-icon {
    /* width: 30px; */
    /* margin-left: 10px; */
}

.side-icon-img {
    width: 40px;
    margin-left: 15px;
}

.navLinkShop{
    color: blueviolet;
    font-weight: bold;
}