footer {
    background-color: #252525;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    color: white;
}

.logo {
    width: 50px;
}

ul {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-container>div {
    width: 250px;
}

footer>p {
    text-align: center;
}